$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.container {
  display: flex;
  margin-top: 35vh;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.infoTwo {
  padding-top: 33%;
}

.button {
  height: 10vh;
  width: 12vh;
  border: none;
  cursor: pointer;
}

.button-group {
  width: 50vw;
}
