.container {
  display: inline;
  margin-top: 35vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
  justify-content: center;
}

.infoTwo {
  padding-top: 33%;
}

.button {
  height: auto;
  width: auto;
  border: none;
}

.button-group {
  justify-content: center;
}

.svgIcon {
  font-size: 20vh;
}
//   svgIcon: {
//     fontSize: "6vh",
//   },
