$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.container {
  display: inline;
  margin-top: 35vh;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 100%;
  justify-content: center;
}

.infoTwo {
  padding-top: 33%;
}

.button {
  height: 10vh;
  width: 12vh;
  border: none;
}

.button-group {
  width: 50vw;
  justify-content: space-around;
  align-self: center;
}

.svgIcon {
  font-size: 20vh;
}
//   svgIcon: {
//     fontSize: "6vh",
//   },
