$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1280px;
$xl: 1920px;

.cart-item {
  display: inherit;
  width: 40vw;
  background-color: whitesmoke;
  border-radius: 4px;
  filter: drop-shadow(2px 2px 2px rgba(80, 80, 80, 0.644));
  @media (max-width: $sm) {
    margin-top: 2vh;
    margin-right: 3vh;
    // marginBottom: '0.5vh',
    margin-left: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  @media (min-width: $sm) and (max-width: $lg) {
    width: 40vw;
  }
}
.media {
  max-height: 20vh;
  max-width: 40vh;
  margin-top: 1vw;
  margin-left: 1vw;
  @media (max-width: $md) {
    width: 86vw;
  }
}
.text {
  float: right;
  justify-content: center;
  font-size: 18px;
}

.card-content {
  flex: inline-flex;
  float: left;
}
.item-name {
  margin-right: 3vw;
  margin-bottom: 0;
}
.button {
  text-transform: capitalize;
  width: 4vw;
}
.remove-button {
  margin-left: 1vw;
  margin-top: 1vw;
  // size: '5vh',
  position: absolute;
}
.qty-input {
  width: 3vw;
  height: 2.2vh;
  cursor: pointer;
  background: white;
  border-radius: 3px;
  border: 1.3px rgba(87, 87, 87, 0.473);
}
